body {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    margin: 0 !important;
    background-color: grey;
}

.table-div{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

button{
    background-color: #02915c;
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    font-size: 20px;
    font-weight: 300;
}
.main {
    width: 80%;
    background-color: #212529;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: #adadad30 0 0 9px 2px;
    font-weight: 400;
    padding-bottom: 5%;
}

#info-imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.display-imagenes{
    width: 320px;
    height: 240px;
    padding: 5px;
}
.display-imagenes:hover{
    opacity: 0.7;
    cursor:pointer;
}
.info-botones{
    display: flex;
    justify-content: space-between;
    margin: 2%;
}
.tr-clickable {
    cursor: pointer;
}

.titulo {
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin-top: 5%;
}
#titulo-fotos{
    color:whitesmoke;
}

.negrita {
    font-weight: 800;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
  }
  
  
  /* Add Animation - Zoom in the Modal */
  .modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }